* { box-sizing: border-box; font-size: 12px; font-family: 'Blinker', sans-serif; color: #000; }
input, button, select, textarea { font-family: 'Blinker', sans-serif; outline: none; cursor: pointer; line-height: 1 }
header, footer, aside, nav, form, iframe, .menu, .hero, .adslot { display: none; }

._pri .wrap {}
._pri .head {  }
._pri .head .n { color: #202020; }
._pri .head .v { color: #000; font-weight: 600; }

._pri .head.p { display: grid; grid-template-columns: 30% 40% 30%; }
._pri .head.p .x, ._pri .head.p .z { display: grid; grid-template-columns: 50% 50% }
._pri .head.p .y { text-align: center; color: red; }
._pri .head.p .y .a { font-weight: 600; font-size: 12px; }
._pri .head.p .y .b { font-weight: 600; font-size: 11px; }

._pri .head.q { display: grid; grid-template-columns: 40% 20% 40%; }
._pri .head.q .x, ._pri .head.q .z { display: grid; grid-template-columns: 50% 50% }

._pri .head.o { text-align: center; }
._pri .head.o .c { font-weight: bold; font-size: 16px; padding: 0; }

._pri_ebf .data { display: grid; grid-template-columns: auto 220px; margin-top: 10px; border-bottom: 1px solid #d0d0ca; height: 280px; overflow: hidden; }
._pri_ebf .data .x { border-right: 1px solid #d0d0ca; }
._pri_ebf .data .x .g, ._pri_ebf .data .x .h .i { display: grid; grid-template-columns: 60px auto 120px 60px 60px  }
._pri_ebf .data .x .g { border-top: 1px solid #d0d0ca; border-bottom: 1px solid #d0d0ca; padding: 5px 0; color: #222; }
._pri_ebf .data .x .g div {}
._pri_ebf .data .x .h {}
._pri_ebf .data .x .h .i {}
._pri_ebf .data .x .h .i div { padding: 4px 0; white-space: nowrap; text-overflow: hidden; overflow: hidden; color: #000; }
._pri_ebf .data .x .h .i div svg { width: 10px; height: 10px; color: #d0d0ca; }

._pri_ebf .data .y .g { border-top: 1px solid #d0d0ca; border-bottom: 1px solid #d0d0ca; background-color: #f8f8f0; }
._pri_ebf .data .y .g, ._pri_ebf .data .y .h .i { display: grid; grid-template-columns: auto 60px; }
._pri_ebf .data .y .g div { padding: 5px 0; color: #222; }
._pri_ebf .data .y .h .i {  }
._pri_ebf .data .y .h .i div { padding: 4px 0; white-space: nowrap; text-overflow: hidden; overflow: hidden; color: #000; }

._pri .date { padding: 10px 0; display: grid; grid-template-columns: 210px 210px auto; }
._pri .date div { font-size: 11px; color: #222; }
._pri .date div span { color: #000; }

._pri_cor .data { margin-top: 10px; border-bottom: 1px solid #d0d0ca; height: 280px; overflow: hidden; }
._pri_cor .data .x {}
._pri_cor .data .x .g, ._pri_cor .data .x .h .i { display: grid; grid-template-columns: 60px auto 80px 170px 70px 50px  }
._pri_cor .data .x .g { border-top: 1px solid #d0d0ca; border-bottom: 1px solid #d0d0ca; padding: 5px 0; color: #222; }
._pri_cor .data .x .g div {}
._pri_cor .data .x .h {}
._pri_cor .data .x .h .i {}
._pri_cor .data .x .h .i div { padding: 4px 0; white-space: nowrap; text-overflow: hidden; overflow: hidden; color: #000; }
._pri_cor .data .x .h .i div svg { width: 10px; height: 10px; color: #d0d0ca; }

._pri_pay { width: 12cm; }
._pri_pay * { font-family: "Courier New"; }
._pri_pay .code { text-align: right; font-weight: 600; }
._pri_pay .head { display: grid; grid-template-columns: 60% 40% }
._pri_pay .head div { padding: 7px 0; font-weight: 600 }
._pri_pay .data {}
._pri_pay .data .l { height: 300px; padding: 20px 0; }
._pri_pay .data .l .i, ._pri_pay .data .k { display: grid; grid-template-columns: 70% 30% }
._pri_pay .data .l .i div {}
._pri_pay .data .k { padding: 7px 0; font-weight: bold }
._pri_pay .data .m { padding: 7px 0; font-weight: bold; }
._pri_pay .foot { padding: 12px 0; }

._pri_gs { width: 10cm; }
._pri_gs .data { margin-top: 10px; border-bottom: 1px solid #d0d0ca; height: 280px; overflow: hidden; }
._pri_gs .data .x {}
._pri_gs .data .x .g, ._pri_gs .data .x .h .i { display: grid; grid-template-columns: 60px auto 10px 60px 90px  }
._pri_gs .data .x .g { border-top: 1px solid #d0d0ca; border-bottom: 1px solid #d0d0ca; padding: 5px 0; color: #222; }
._pri_gs .data .x .g div {}
._pri_gs .data .x .h {}
._pri_gs .data .x .h .i {}
._pri_gs .data .x .h .i div { padding: 4px 0; white-space: nowrap; text-overflow: hidden; overflow: hidden; color: #000; }
._pri_gs .data .x .h .i div svg { width: 10px; height: 10px; color: #d0d0ca; }

._pri_gs .head { padding: 0; margin: 0; }
._pri_gs .head.r { text-align: center }
._pri_gs .head.r .a { font-weight: 600; font-size: 13px; }
._pri_gs .head.r .b { font-weight: normal }

._pri_gs .head.o .c { font-size: 13px; padding: 5px 0; }

._pri_gs .head.s { display: grid; grid-template-columns: 60% 10px auto }
._pri_gs .head.s .n { white-space: nowrap; text-overflow: hidden; overflow: hidden; }
._pri_gs .head.s .n span { font-weight: 600 }


._pri_gs .date { padding: 10px 0; display: grid; grid-template-columns: 210px auto; }
/* vowels */
.ta-l { text-align: left }
.ta-r { text-align: right }
.ta-c { text-align: center }


._pri_tor { font-size: 12px; position: relative; }
._pri_tor .p1 .x, ._pri_tor .p2 .x {}
._pri_tor .p1 .x .a, ._pri_tor .p2 .x .a { height: 20px; font-weight: 500px; font-size: 13px; color: #404040; }
._pri_tor .p1 .x .b, ._pri_tor .p2 .x .b { height: 80px; display: grid; grid-template-columns: auto 180px 96px; }
._pri_tor .p1 .x .b > div p, ._pri_tor .p2 .x .b > div p { margin: 0; padding: 0; }
._pri_tor .p1 .x .b > div b, ._pri_tor .p2 .x .b > div b { font-size: 14px; padding: 0; }
._pri_tor .p1 .x .b > div svg, ._pri_tor .p2 .x .b > div svg { width: 72px; height: 72px; color: #c0c0c0; margin-top: -6px; }

._pri_tor .p1 .x .c, ._pri_tor .p2 .x .c { color: #fff; font-size: 14px; padding: 2px 4px; background-color: #555555; text-align: center; font-weight: 600; text-transform: uppercase; }

._pri_tor .p1 .y, ._pri_tor .p2 .y { padding-top: 5px; height: 1028px; }
._pri_tor .p1 .y .a, ._pri_tor .p2 .y .a { border-top: 1px solid #404040; border-left: 1px solid #404040; border-right: 1px solid #404040; display: grid; grid-template-columns: 140px auto 140px 90px; }
._pri_tor .p1 .y .a div, ._pri_tor .p2 .y .a div { padding: 4px; }
._pri_tor .p1 .y .a b, ._pri_tor .p2 .y .a b { display: block; padding-top: 6px; text-transform: uppercase; }
._pri_tor .p1 .y .a span, ._pri_tor .p2 .y .a span { display: block; }

._pri_tor .p1 .y .b { display: grid; grid-template-columns: auto 110px; border-bottom: 1px solid #404040; border-right: 1px solid #404040; }
._pri_tor .p1 .y .b img { display: block; height: 96px; width: 96px; background-color: #b0b0b0; }
._pri_tor .p1 .y .b > div > div { border-top: 1px solid #404040; border-left: 1px solid #404040; border-right: 1px solid #404040; }
._pri_tor .p1 .y .b > div > div > div { padding: 4px; }
._pri_tor .p1 .y .b b { display: block; padding-top: 6px; text-transform: uppercase; }
._pri_tor .p1 .y .b span { display: block; }

._pri_tor .p1 .y .c { padding: 12px 0; }
._pri_tor .p1 .y .c .h { font-weight: 600; text-align: center; padding-bottom: 6px; }
._pri_tor .p1 .y .c .g {}
._pri_tor .p1 .y .c .g > div { display: grid; grid-template-columns: 100px auto 60px 80px; padding-bottom: 2px; }
._pri_tor .p1 .y .c .g > div span { display: block; }
._pri_tor .p1 .y .c .g > div b { display: block; font-weight: 600; }

._pri_tor .p1 .y .d { height: 340px; }

._pri_tor .p1 .y .e { padding: 20px 50px; }
._pri_tor .p1 .y .e .h { font-weight: 600; text-align: center; }
._pri_tor .p1 .y .e .g {}
._pri_tor .p1 .y .e .g .m, ._pri_tor .p1 .y .e .g .n { display: grid; grid-template-columns: auto 100px 120px 10px 120px; }
._pri_tor .p1 .y .e .g .m div { font-weight: 600; padding: 4px 0; }
._pri_tor .p1 .y .e .g .n {}
._pri_tor .p1 .y .e .g .n div {}

._pri_tor .p1 .y .f { padding: 0 0 20px 0; }
._pri_tor .p1 .y .f .h { font-weight: 600; text-align: center; padding: 4px 0; }
._pri_tor .p1 .y .f .g p { text-indent: 32px; line-height: 125%; }

._pri_tor .p1 .z, ._pri_tor .p2 .z { border-top: 2px solid #555; padding: 5px 0 0 0; }
._pri_tor .p1 .z .h, ._pri_tor .p2 .z .h { display: grid; grid-template-columns: 70px auto; }
._pri_tor .p1 .z .h .m, ._pri_tor .p2 .z .h .m { padding: 2px; }
._pri_tor .p1 .z .h .n, ._pri_tor .p2 .z .h .n { border-bottom: 1px solid #404040; padding: 2px; text-align: center; font-weight: 600; }
._pri_tor .p1 .z .g, ._pri_tor .p2 .z .g { padding: 20px 0 12px 0; display: grid; grid-template-columns:  180px 120px auto; }
._pri_tor .p1 .z .g b, ._pri_tor .p2 .z .g b { font-weight: 600; display: block; }
._pri_tor .p1 .z .g i, ._pri_tor .p2 .z .g i { display: block; padding-bottom: 4px; }
._pri_tor .p1 .z .g span, ._pri_tor .p2 .z .g span { display: block; padding-top: 4px; }

._pri_tor .p2 {}
._pri_tor .p2 .y .b { display: grid; grid-template-columns: auto 90px 90px 90px; border: 1px solid #404040; border-left: none; border-right: 1px solid #404040; }
._pri_tor .p2 .y .b > div { display: grid; place-items: center; border-left: 1px solid #404040; padding: 4px 0; }

._pri_tor .p2 .y .c, ._pri_tor .p3 .y .c {}
._pri_tor .p2 .y .c .g, ._pri_tor .p3 .y .c .g {}
._pri_tor .p2 .y .c .g .list, ._pri_tor .p3 .y .c .g .list {}
._pri_tor .p2 .y .c .g .list .n, ._pri_tor .p3 .y .c .g .list .n { padding-left: 90px; padding-top: 16px; font-weight: 600; }
._pri_tor .p2 .y .c .g .list .l, ._pri_tor .p2 .y .c .g .list .l { padding: 1px 0; display: grid; grid-template-columns: 90px auto 90px 90px 90px; }
._pri_tor .p2 .y .c .h { padding: 20px 0; text-align: center; color: #505050; font-weight: 600; }