* { box-sizing: border-box; font-size: 12px; font-family: 'Blinker', sans-serif; color: #000; }
input, button, select, textarea { font-family: 'Blinker', sans-serif; outline: none; cursor: pointer; line-height: 1 }


._pri .wrap {}
._pri .head {  }
._pri .head .n { color: #202020; }
._pri .head .v { color: #000; font-weight: 600; }

._pri .head.p { display: grid; grid-template-columns: 30% 40% 30%; }
._pri .head.p .x, ._pri .head.p .z { display: grid; grid-template-columns: 50% 50% }
._pri .head.p .y { text-align: center; color: red; }
._pri .head.p .y .a { font-weight: 600; font-size: 12px; }
._pri .head.p .y .b { font-weight: 600; font-size: 11px; }

._pri .head.q { display: grid; grid-template-columns: 40% 20% 40%; }
._pri .head.q .x, ._pri .head.q .z { display: grid; grid-template-columns: 50% 50% }

._pri .head.o { text-align: center; }
._pri .head.o .c { font-weight: bold; font-size: 16px; padding: 0; }

._pri_ebf .data { display: grid; grid-template-columns: auto 220px; margin-top: 10px; border-bottom: 1px solid #d0d0ca; height: 280px; overflow: hidden; }
._pri_ebf .data .x { border-right: 1px solid #d0d0ca; }
._pri_ebf .data .x .g, ._pri_ebf .data .x .h .i { display: grid; grid-template-columns: 60px auto 120px 60px 60px  }
._pri_ebf .data .x .g { border-top: 1px solid #d0d0ca; border-bottom: 1px solid #d0d0ca; padding: 5px 0; color: #222; }
._pri_ebf .data .x .g div {}
._pri_ebf .data .x .h {}
._pri_ebf .data .x .h .i {}
._pri_ebf .data .x .h .i div { padding: 4px 0; white-space: nowrap; text-overflow: hidden; overflow: hidden; color: #000; }
._pri_ebf .data .x .h .i div svg { width: 10px; height: 10px; color: #d0d0ca; }

._pri_ebf .data .y .g { border-top: 1px solid #d0d0ca; border-bottom: 1px solid #d0d0ca; background-color: #f8f8f0; }
._pri_ebf .data .y .g, ._pri_ebf .data .y .h .i { display: grid; grid-template-columns: auto 60px; }
._pri_ebf .data .y .g div { padding: 5px 0; color: #222; }
._pri_ebf .data .y .h .i {  }
._pri_ebf .data .y .h .i div { padding: 4px 0; white-space: nowrap; text-overflow: hidden; overflow: hidden; color: #000; }

._pri .date { padding: 10px 0; display: grid; grid-template-columns: 210px 210px auto; }
._pri .date div { font-size: 11px; color: #222; }
._pri .date div span { color: #000; }

._pri_cor .data { margin-top: 10px; border-bottom: 1px solid #d0d0ca; height: 280px; overflow: hidden; }
._pri_cor .data .x {}
._pri_cor .data .x .g, ._pri_cor .data .x .h .i { display: grid; grid-template-columns: 60px auto 80px 170px 70px 50px  }
._pri_cor .data .x .g { border-top: 1px solid #d0d0ca; border-bottom: 1px solid #d0d0ca; padding: 5px 0; color: #222; }
._pri_cor .data .x .g div {}
._pri_cor .data .x .h {}
._pri_cor .data .x .h .i {}
._pri_cor .data .x .h .i div { padding: 4px 0; white-space: nowrap; text-overflow: hidden; overflow: hidden; color: #000; }
._pri_cor .data .x .h .i div svg { width: 10px; height: 10px; color: #d0d0ca; }


/* vowels */
.ta-l { text-align: left }
.ta-r { text-align: right }

